---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include head.html to add meta tags, title, etc. -->
    {% include head.html %}
    <script src="/assets/js/copyCode.js"></script>
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/rouge.css"> -->
    <!-- <link rel="stylesheet" href="/_sass/_main.scss"> -->
  </head>
  
  <body>
    <!-- Main content of the page -->
    <main>
      <!-- Include the navigation bar -->
      {% include navigation.html %}
      
      <!-- The content of the specific post or page -->
      {{ content }}
    </main>
  </body>
</html>