---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    ...
    <title>{{ page.title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
</head>

<body>
    <section class="post">
        <h2>{{ page.title }}</h2>
        {% include toc.html html=content %}
        {{ content }}
        <span class="meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; 
            {% for tag in page.tags %}
            <a href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </span>
        <!-- Valine 评论系统容器现在位于 post 容器内部 -->
        <div id="vcomments"></div>
    </section>
    <script src="/assets/js/copyCode.js"></script>
    <script src="/Valine.min.js"></script>
    <script>
        new Valine({
        el:'#vcomments',
            appId: 'deLvV5QEsweui1qehWIOKa6h-gzGzoHsz',
            appKey: '5rlOhiv7dVJoeVuohXfQjzpP',
            avatar: "mp"
        })
    </script>
    <script>
    mediumZoom('.zoomable'); // 只对 class 为 zoomable 的图片启用
    </script>
</body>
</html>

